---
import User from "../../components/user.astro";
import Layout from "../../layouts/Layout.astro";
import { button } from "../../styles/button";
import { text } from "../../styles/text";
import { cn } from "../../util/cn";
import { faq } from "./../../content/faq";

const calendar = Array.from({ length: 2 }).map((_, i) => {
  return {
    name: `Escenario ${i + 1}`,
    schedule: Array.from({ length: i % 2 ? 3 : 10 }).map((a, i2) => ({
      id: `ev-${i2}`,
      name: `Nombre de charla/taller ${i + 1}`,
      startTime: new Date().toISOString(),
      personImg: "https://mighty.tools/mockmind-api/content/human/104.jpg"
    }))
  }
})
---

<Layout>
  <section class="max-w-5xl mx-auto px-6 py-[4.625rem] text-center">
    <h1 class={cn(text({ style: "displayMedium" }), "max-w-[677px] mx-auto")}>International Women's Day 2025 El Alto: Redefine Possible</h1>
    <p class={cn(text({ style: "bodyMedium"}), "max-w-[677px] mx-auto mt-4")}>La innovación no tiene límites, nosotras los redefinimos</p>
    <div class="flex items-center justify-center mt-4 gap-2">
      <a href="https://gdg.community.dev/events/details/google-gdg-el-alto-presents-international-womens-day-2025-el-alto-redefine-possible/" target="_blank" class={cn(button({ style: "filled" }))}>Reserva un lugar</a>
      <a href="https://maps.app.goo.gl/RoWhDxRMmZygx97G6" target="_blank" class={cn(button({ style: "outlined" }))}>Abrir en Google Maps</a>
    </div>
  </section>
  <section class="max-w-5xl mx-auto px-6 text-center space-y-4">
    <p class={cn(text({ style: "bodyMedium" }))}>Con el apoyo de</p>
    <div class="max-w-[677px] mx-auto flex flex-col sm:flex-row gap-8 items-center justify-between">
      <div class="h-[50px] w-[150px] aspect-video bg-[#D9D9D9] rounded-[20px]"></div>
      <div class="h-[50px] w-[150px] aspect-video bg-[#D9D9D9] rounded-[20px]"></div>
      <div class="h-[50px] w-[150px] aspect-video bg-[#D9D9D9] rounded-[20px]"></div>
    </div>
  </section>
  <section class="max-w-5xl mx-auto px-6 my-6">
    <h2 class={cn(text({ style: "displaySmall" }), "mb-2")} id="agenda">Agenda</h2>
    <p class={cn(text({ style: "bodyMedium" }))}>Ven, disfruta, conoce en comunidad</p>
    <div class="flex flex-wrap justify-center gap-4 mt-[2.6875rem]">
      {calendar.map((c) => (
        <article class="w-full md:max-w-sm border rounded-[20px] border-[var(--md-sys-color-primary)]">
          <header class="bg-[var(--md-sys-color-primary)] rounded-t-[18px] h-12 flex items-center justify-center">
            <h3 class="hidden">Escenario: {c.name}</h3>
            <p class={cn(text({ style: "titleMedium" }), "text-[var(--md-sys-color-on-primary)]")}>{c.name}</p>
          </header>
          <main>
            <ul>
              {c.schedule.map((s) => (
                <li>
                  <a href={`/schedule/${s.id}`} class="block py-2 px-4">
                    <User title={s.name} description={new Date(s.startTime).toLocaleString("es-BO", { hour: "numeric", minute: "numeric", hour12: true })} image={s.personImg} />
                  </a>
                </li>  
              ))}
            </ul>
          </main>
        </article>
      ))}
    </div>
  </section>
  <section class="max-w-5xl mx-auto px-6 my-6">
    <h2 class={cn(text({ style: "displaySmall" }), "mb-8")}>¿Donde lo realizaremos?</h2>
    <div class="grid grid-rows-2 grid-cols-1 md:grid-rows-1 md:grid-cols-3 border border-[var(--md-sys-color-primary)] rounded-[21px]">
      <div class="bg-[var(--md-sys-color-primary)] flex flex-col justify-center gap-2 order-2 p-4 rounded-b-[20px] md:rounded-br-none md:rounded-l-[20px] md:min-h-80 md:p-8 md:order-0">
        <p class={cn(text({ style: "titleLarge" }), "text-[var(--md-sys-color-on-primary)]")}>Shoreline Amphitheatre</p>
        <p class={cn(text({ style: "titleMedium" }), "text-[var(--md-sys-color-inverse-primary)]")}>One Amphitheatre Pkwy, Mountain View, CA 94043, Estados Unidos</p>
        <div class="pt-2">
          <a href="https://maps.app.goo.gl/RoWhDxRMmZygx97G6" target="_blank" class={cn(button({ style: "tonal" }))}>
            Abrir en Google Maps
          </a>
        </div>
      </div>
      <div class="col-span-2">
        <a href="https://maps.app.goo.gl/RoWhDxRMmZygx97G6" class="block size-full" target="_blank">
          <img src="/img/loc.png" alt="" class="size-full object-cover rounded-t-[20px] md:rounded-bl-none md:rounded-r-[20px]" />
        </a>
      </div>
    </div>
  </section>
  <section class="max-w-5xl mx-auto px-6 mt-8">
    <h2 class={cn(text({ style: "displaySmall" }), "mb-8")} id="faq">Preguntas Frecuentes</h2>
    <ul class="grid grid-cols-1 md:grid-cols-2 gap-4">
      {faq.map((f) => (
        <li>
          <h4 class={cn(text({ style: "titleMedium" }), "mb-2")}>{f.question}</h4>
          <p class={cn(text({ style: "bodyMedium" }))}>{f.answer}</p>
        </li>
      ))}
    </ul>
  </section>
</Layout>