---
import User from "../../components/infoUser.astro";
import Layout from "../../layouts/Layout.astro";
import { button } from "../../styles/button";
import { text } from "../../styles/text";
import { cn } from "../../util/cn";
import { getCollection } from "astro:content";

const event = (await getCollection('event', (e) => e.id === "iwd-2025"))[0]; 
const schedule = await getCollection('schedule', (s) => s.data.eventId.id === "iwd-2025");
const location = (await getCollection('location', (l) => l.id === event.data.location.id))[0];
const stages = await getCollection("stage");
const people = await getCollection("people");

const calendar = stages.map((s) => {
  return {
    name: s.data.name,
    schedule: schedule.filter((f) => f.data.stageId.id === s.id).map((s2) => {
      const personImage = people.find((p) => p.id === s2.data.speakers[0].id)?.data.image
      return {
        id: s2.id,
        name: s2.data.name,
        startTime: s2.data.startDate,
        endTime: s2.data.endDate,
        personImage,
      }
    })
  }
}).filter((x) => x.schedule.length)
---

<Layout title={event.data.name} description={event.data.description} image={event.data.image}>
  <section class="max-w-5xl mx-auto px-6 py-[4.625rem] text-center">
    <h1 class={cn(text({ style: "displayMedium" }), "max-w-[677px] mx-auto")}>International Women's Day 2025 El Alto: Redefine Possible</h1>
    <p class={cn(text({ style: "bodyMedium"}), "max-w-[677px] mx-auto mt-4")}>La innovación no tiene límites, nosotras los redefinimos</p>
    <div class="flex items-center justify-center mt-4 gap-2">
      <a href="https://gdg.community.dev/events/details/google-gdg-el-alto-presents-international-womens-day-2025-el-alto-redefine-possible/" target="_blank" class={cn(button({ style: "filled" }))}>Reserva un lugar</a>
      <a href="https://maps.app.goo.gl/RoWhDxRMmZygx97G6" target="_blank" class={cn(button({ style: "outlined" }))}>Abrir en Google Maps</a>
    </div>
  </section>
  <section class="max-w-5xl mx-auto px-6 text-center space-y-4">
    <p class={cn(text({ style: "bodyMedium" }))}>Con el apoyo de</p>
    <div class="max-w-[750px] mx-auto grid grid-cols-1 md:grid-cols-3 place-items-center gap-4">
      {event.data.sponsors.map((s) => (
        <div title={s.name}>
          <img src={s.image} alt={s.name} class="max-h-40 object-contain w-[75%] md:w-auto mx-auto" />
        </div>
      ))}
    </div>
  </section>
  <section class="max-w-5xl mx-auto px-6 my-6">
    <h2 class={cn(text({ style: "displaySmall" }), "mb-2")} id="agenda">Agenda</h2>
    <p class={cn(text({ style: "bodyMedium" }))}>Ven, disfruta, conoce en comunidad</p>
    <div class="flex flex-wrap justify-center gap-4 mt-[2.6875rem]">
      {calendar.map((c) => (
        <article class="w-full md:max-w-sm border rounded-[20px] border-[var(--md-sys-color-primary)]">
          <header class="bg-[var(--md-sys-color-primary)] rounded-t-[18px] h-12 flex items-center justify-center">
            <h3 class="hidden">Escenario: {c.name}</h3>
            <p class={cn(text({ style: "titleMedium" }), "text-[var(--md-sys-color-on-primary)]")}>{c.name}</p>
          </header>
          <main>
            <ul>
              {c.schedule.map((s) => (
                <li>
                  <a href={`/schedule/${s.id}`} class="block py-2 px-4">
                    <User title={s.name} description={new Date(s.startTime).toLocaleString("es-BO", { hour: "numeric", minute: "numeric", hour12: true, timeZone: "America/New_York" })} image={s.personImage ?? ""} />
                  </a>
                </li>  
              ))}
            </ul>
          </main>
        </article>
      ))}
    </div>
  </section>
  <section class="max-w-5xl mx-auto px-6 my-6">
    <h2 class={cn(text({ style: "displaySmall" }), "mb-8")}>¿Donde lo realizaremos?</h2>
    <div class="grid grid-rows-2 grid-cols-1 md:grid-rows-1 md:grid-cols-3 border border-[var(--md-sys-color-primary)] rounded-[21px]">
      <div class="bg-[var(--md-sys-color-primary)] flex flex-col justify-center gap-2 order-2 p-4 rounded-b-[20px] md:rounded-br-none md:rounded-l-[20px] md:min-h-80 md:p-8 md:order-0">
        <p class={cn(text({ style: "titleLarge" }), "text-[var(--md-sys-color-on-primary)]")}>{location.data.name}</p>
        <p class={cn(text({ style: "titleMedium" }), "text-[var(--md-sys-color-inverse-primary)]")}>{location.data.direction}</p>
        <div class="pt-2">
          <a href={location.data.url} target="_blank" class={cn(button({ style: "tonal" }))}>
            Abrir en Google Maps
          </a>
        </div>
      </div>
      <div class="col-span-2">
        <a href={location.data.url} class="block size-full" target="_blank">
          <img src={location.data.image} alt={`${location.data.name} Referencia en Google Maps`} class="size-full object-cover rounded-t-[20px] md:rounded-tl-none md:rounded-bl-none md:rounded-r-[20px]" />
        </a>
      </div>
    </div>
  </section>
  <section class="max-w-5xl mx-auto px-6 mt-8">
    <h2 class={cn(text({ style: "displaySmall" }), "mb-8")} id="faq">Preguntas Frecuentes</h2>
    <ul class="grid grid-cols-1 md:grid-cols-2 gap-4">
      {event.data.faq.map((f) => (
        <li>
          <h4 class={cn(text({ style: "titleMedium" }), "mb-2")}>{f.question}</h4>
          <p class={cn(text({ style: "bodyMedium" }))}>{f.answer}</p>
        </li>
      ))}
    </ul>
  </section>
</Layout>